@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Department</th>
                    <th>Manager</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/Employee/Index" class="btn btn-success">Employee</a></td>
                    <td><a href="/Department/Index" class="btn btn-primary">Department</a></td>
                    <td><a href="/Manager/Index" class="btn btn-danger">Manager</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

